/* STYLES NAV */
header > nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav > a,
header > nav > button {
  font-size: 1.1rem;
  color: var(--font-color);
}

header > nav > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
