/* STYLES NAV */
header > nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav > a,
header > nav > #button-carrinho {
  font-size: 1.1rem;
  color: var(--font-color);
}

header > nav > #button-carrinho {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

header > nav > #button-carrinho > #banner-qtd-carrinho {
  background-color: var(--bg-qtd-carrinho);
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.7rem;
  position: absolute;
  top: -18%;
  right: -18%;
  pointer-events: none;
}
