/* STYLES HERO CONTAINER */
main > .hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.5625rem, 1fr));
  gap: 2rem;
  row-gap: 4rem;
}

/* STYLES CARD PRODUTO */
main > .hero-container > .card-produto {
  background-color: var(--bg-card-produto);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  overflow: hidden;
  isolation: isolate;
  width: 21.5625rem;
  transition: all 250ms ease-out;
}

main > .hero-container > .card-produto:hover {
  scale: 1.02;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
}

main > .hero-container > .card-produto img {
  cursor: pointer;
  min-width: 100%;
  min-height: 13.75rem;
  max-height: 13.75rem;
}

main > .hero-container > .card-produto > .card-produto-precos {
  padding: 1rem;
  padding-top: 0rem;
}

main > .hero-container > .card-produto > .card-produto-precos > h2 {
  padding: 0.5rem 0rem;
}

main > .hero-container > .card-produto > .card-produto-precos > h2 {
  font-size: 1rem;
}

main > .hero-container > .card-produto > .card-produto-precos > h3 {
  font-size: 1rem;
  color: var(--font-color-price);
}

/* TABLET STYLES */
@media screen and (max-width: 1124px) {
  body > main {
    padding: 0rem var(--padding-x-tablet);
  }

  main > .hero-container > .card-produto {
    margin: 0 auto;
  }

  main > .hero-container > .card-produto img {
    max-width: 100%;
    max-height: 17.5rem;
    object-position: center;
  }
}

/* MOBILE STYLES */
@media screen and (max-width: 568px) {
  body > main {
    padding: 0rem var(--padding-x-mobile);
  }

  main > .hero-container > .card-produto {
    width: 100%;
    max-width: 100%;
  }

  main > .hero-container > .card-produto img {
    max-width: 100%;
    max-height: 17.5rem;
    object-position: center;
  }
}
